<h3>Le Nostre Pizze</h3>

<main class="bg-primary bg-opacity-10 text-dark rounded p-3 d-flex flex-row justify-content-between ">


    <div class="card" style="width: 18rem;">
        <img src="~/Content/Assets/margherita.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Margherita</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/Content/Assets/hawaii.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Hawaii</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/Content/Assets/pepperoni.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Pepperoni</p>
        </div>
    </div>
</main>
<p>Text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text, text, text, text, text, text.</p>
<p>Text, text, text, text, text, text, text, text.</p>